<br>
<button class="btn btn-default center-block btn-with_margin" {{action "toggleForm"}}>Додати новий документ</button>
{{#if isForm}}
  <div class="panel panel-success">
    <div class="panel-body">
      <form class="form-horizontal" role="form" id="createDocument">
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Ім'я:</label>
          <div class="col-sm-10">
            {{input class="form-control" valueBinding="documentName"}}
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label">Документ:</label>
          <div class="col-sm-10">
            {{input type="file" class="form-control" name="file"}}
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label">Документ у відкритому доступі?</label>
          <div class="col-sm-10">
            {{input type="checkbox" checked=open}}
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label">Доступний таким категоріям працівників:</label>
          <div class="col-sm-10">
            <ul class="list-group">
              {{#each proxiedCategory}}
                <li class="list-group-item">{{content.name}}{{input type="checkbox" class="pull-right" checked=checked}}</li>
              {{/each}}
            </ul>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="btn-group">
              <button {{action 'createDocument'}} class="btn btn-success">Додати</button>
              <button {{action "toggleForm"}} class="btn btn-default">Відмінити</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
{{/if}}

{{#each itemController='document'}}
  <div class="panel panel-default">
    <div class="panel-body">
      {{#if isUpdating}}
        <button {{action 'updateForm'}} class="btn btn-default center-block btn-with_margin">Закрити</button>
        {{render 'updateForm' this}}
      {{ else }}
        <div class="doc">{{name}}</div>
        <div class="doc">{{doc_path}}</div>
        <div class="doc pull-right"><a href="" {{action 'delete'}}><span class="glyphicon glyphicon-floppy-remove"></span></a></div>
        <div class="doc pull-right"><a href="" {{action 'updateForm'}}><span class="glyphicon glyphicon glyphicon-edit"></span></a></div>
      {{/if}}
    </div>
  </div>
{{ else }}
  <div class="panel panel-default">
    <div class="panel-body">
      <p class="center-btn">Поки що немає жодного документу!</p>
    </div>
  </div>
{{/each}}