<form class="form-inline">
  <div class="form-group">
    Name: {{input type="text" value=model.name}}
  </div><br>
  <div class="form-group">
    path: {{model.doc_path}}
  </div><br>
  <div class="form-group">
    New file: {{input type="file" valueBinding="documentFile"}}
  </div><br>
  <div class="form-group">
    <p>Categories which it include now</p>
    {{#each model.category_ids}}
      {{name}}<br>
    {{/each}}
  </div><br><br>
  <div class="form-group">
    <p>You can change it</p>
    {{#each proxiedCategory}}
       {{input type="checkbox" checked=checked}} {{content.name}}<br>
    {{/each}}
  </div><br>
  <button type="submit" {{action 'createDocument'}} class="btn btn-success">Submit</button>
</form>
<a {{action 'shit'}}>some</a>