<form class="form-inline" id="uploadForm">
  <div class="form-group">
    Name: {{input type="text" value=model.name}}
  </div><br>
  <div class="form-group">
    path: {{model.doc_path}}
  </div><br>
  <div class="form-group">
    New file:
    {{input type="file" class="form-control" name="file"}}
  </div><br>
  <div class="form-group">
    Is it in open access? {{input type="checkbox" checked=open}}
  </div><br>
  <div class="form-group">
    <p>Categories which it include now</p>
    {{#each model.category_ids}}
      {{name}}<br>
    {{/each}}
  </div><br><br>
  <div class="form-group">
    <p>You can change it</p>
    {{#each proxiedCategory}}
      {{input type="checkbox" checked=checked}} {{content.name}}<br>
    {{/each}}
  </div><br>
  <button type="submit" {{action 'updateDocument'}} class="btn btn-success">Submit</button>
</form>