<br>
Количество не подтверженных: <label class="label label-primary">{{numberApproved}}</label>
<ul>
{{#each itemController='user'}}
  <li>
    {{id}} -- {{email}} -- {{category.name}} -- 
    <a href="#" {{action "approve"}}>
      {{#if approved}}
        Отклонить
      {{ else }}
        Подтвердить
      {{/if}}
    </a>
  </li>
{{/each}}
</ul>