<br>
Кількість не підтвердженних: <label class="label label-primary">{{numberApproved}}</label>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Email</th>
        <th>Категорія</th>
        <th>Має бути</th>
        <th>ПІБ</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each itemController='user'}}
        <tr {{bind-attr class="approved::danger"}}>
          <td>{{id}}</td>
          <td>{{email}}</td>
          <td>
            {{#if isEditCategory}}
              {{view Ember.Select
                     content=categories
                     optionValuePath="content.id"
                     optionLabelPath="content.name"
                     value=categoryId
              }}
              <a  {{action "update"}}><span class="glyphicon glyphicon-ok"></span></a>
            {{ else }}
              <span {{action "editCategory" on="doubleClick"}}>{{category.name}}</span>
            {{/if}}
          </td>
          {{worker_fun}}
           {{{worker}}}
          <td class="approve">
            <a href="#" {{action "approve"}}>
              {{#if approved}}
                Відхилити
              {{ else }}
                Підтвердити
              {{/if}}
            </a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>