<br>
Количество не подтверженных: <label class="label label-primary">{{numberApproved}}</label>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Email</th>
        <th>Категорія</th>
        <th>Має бути</th>
        <th>ПІП</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each itemController='user'}}
        <tr {{bind-attr class="approved::danger"}}>
          <td>{{id}}</td>
          <td>{{email}}</td>
          <td>{{category.name}}</td>
          {{worker_fun}}
           {{{worker}}}
          <td class="approve">
            <a href="#" {{action "approve"}}>
              {{#if approved}}
                Отклонить
              {{ else }}
                Подтвердить
              {{/if}}
            </a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>