<button class="btn btn-default center-block btn-with_margin" {{action 'openForm'}}>Додати працівника</button>
{{#if isForm}}
  <div class="panel panel-warning center-block">
    <div class="panel-body">
      <form class="form center-btn">
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Email:</label>
          <div class="col-sm-10">
            {{input type="text" valueBinding="mail" class="form-control btn-with_margin"}}
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">ПІБ:</label>
          <div class="col-sm-10">
            {{input type="text" valueBinding="fio" class="btn-with_margin form-control"}}
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Категорія:</label>
          <div class="col-sm-10">
            {{view Ember.Select
                    content=categories
                    optionValuePath="content.id"
                    optionLabelPath="content.name"
                    value=categoryId
                    class="btn-with_margin form-control"
              }}
          </div>
        </div>
        <button type="submit" class="btn btn-success" {{action 'create'}}>Підтвердити</button>
      </form>
    </div>
  </div>
{{/if}}

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>ПІБ</th>
      <th>Email</th>
      <th>Категорія</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each itemController='worker'}}
      <tr>
        <td>{{id}}</td>
        <td>
          {{#if isEditFio}}
            {{edit-record value=fio focus-out="update" mouseenter="update" insert-newline="update"}}
          {{ else }}
            <span {{action "editFio" on="doubleClick"}}>{{fio}}</span>
          {{/if}}
        </td>
        <td>
          {{#if isEditMail}}
            {{edit-record value=email focus-out="update" mouseenter="update" insert-newline="update"}}
          {{ else }}
            <span {{action "editMail" on="doubleClick"}}>{{email}}</span>
          {{/if}}
        </td>
        <td>
          {{#if isEditCategory}}
            {{view Ember.Select
                   content=categories
                   optionValuePath="content.id"
                   optionLabelPath="content.name"
                   value=categoryId
            }}
            <a  {{action "update"}}><span class="glyphicon glyphicon-ok"></span></a>
          {{ else }}
            <span {{action "editCategory" on="doubleClick"}}>{{category.name}}</span>
          {{/if}}
        </td>
        <td><a {{action "destroy"}}><span class="glyphicon glyphicon-floppy-remove"></span></a></td>
      </tr>
    {{/each}}
  </tbody>
</table>
